
.DS_Store
Assignment1/Assignment1.aux
Assignment1/Assignment1.fdb_latexmk
Assignment1/Assignment1.fls
Assignment1/Assignment1.log
Assignment1/Assignment1.pdf
Assignment1/Assignment1.synctex.gz
Assignment1/Assignment1.out
*.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
Assignment2/Assignment2.pdf
*.pdf
